@font-face {
  font-family: 'GT-Super-Display';
  src: url("GT-Super-Display-Super.eot");
  /* IE9 Compat Modes */
  src: url("GT-Super-Display-Super.eot?#iefix") format("embedded-opentype"), url("GT-Super-Display-Super.woff") format("woff"), url("GT-Super-Display-Super.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GT-America-Standard-Thin';
  src: url("GT-America-Thin.eot");
  /* IE9 Compat Modes */
  src: url("GT-America-Thin.eot?#iefix") format("embedded-opentype"), url("GT-America-Thin.woff") format("woff"), url("GT-America-Thin.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-style: normal;
}

@font-face {
  font-family: 'GT-America-Standard-Light';
  src: url("GT-America-Light.eot");
  /* IE9 Compat Modes */
  src: url("GT-America-Light.eot?#iefix") format("embedded-opentype"), url("GT-America-Light.woff") format("woff"), url("GT-America-Light.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'GT-America-Standard-Regular';
  src: url("GT-America-Regular.eot");
  /* IE9 Compat Modes */
  src: url("GT-America-Regular.eot?#iefix") format("embedded-opentype"), url("GT-America-Regular.woff") format("woff"), url("GT-America-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT-America-Standard-Bold';
  src: url("GT-America-Bold.eot");
  /* IE9 Compat Modes */
  src: url("GT-America-Bold.eot?#iefix") format("embedded-opentype"), url("GT-America-Bold.woff") format("woff"), url("GT-America-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@keyframes LearnMoreArrow {
  0% {
    bottom:-17px;
  }

  50% {
    bottom:-22px;
  }

  100% {
    bottom:-17px;
  }
}

body {}

h1  {
  margin: 0;
  font-family: 'GT-Super-Display';
  line-height: 70px;
  font-size: 66px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
}

@media(min-width: 400px) {
  h1  {
    margin: 0;
    font-family: 'GT-Super-Display';
    line-height: 70px;
    font-size: 62px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
  }
}

@media(min-width: 700px) {
  h1  {
    margin: 0;
    font-family: 'GT-Super-Display';
    line-height: 90px;
    font-size: 93px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
  }
}

@media(min-width: 1000px) {
  h1  {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'GT-Super-Display';
    line-height: 120px;
    font-size: 120px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
  }
}


p {
  font-family: 'GT-America-Standard-Light';
  font-size: 16px;
  color: #232228;
  letter-spacing: 0.13px;
  line-height: 26px;
}

@media(min-width: 1000px) {
  p {
    font-family: 'GT-America-Standard-Light';
    font-size: 18px;
    line-height: 32px;
    color: #5A5A66;
  }
}

.header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  min-height: 100vh;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
  background: #232228;
}

@media(min-width: 700px) {
  .hero {
    min-height: 90vh;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    background: #232228;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
}

@media(min-width: 400px) {
  .hero-content {
    margin-top: 150px;
  }
}

@media(max-width: 370px) {
  .hero-content {
    margin-top: 60px;
  }
}

@media(min-width: 700px) {
  .hero-content {
    margin-left: auto;
    margin-right: auto;
  }
}

@media(min-width: 1000px) {
  .hero-content {
    max-width: 900px;
  }
}

.sub-heading {
  font-family: 'GT-America-Standard-light';
  font-size: 18px;
  font-weight: 200;
  color: #FFFFFF;
  letter-spacing: 0.13px;
  line-height: 24px;
}

@media(min-width: 700px) {
  .sub-heading {
    max-width: 650px;
    font-family: 'GT-America-Standard-light';
    font-size: 18px;
    font-weight: 200;
    color: #FFFFFF;
    letter-spacing: 0.13px;
    line-height: 24px;
  }
}

@media(min-width: 1000px) {
  .sub-heading {
    font-size: 24px;
    font-family: 'GT-America-Standard-Thin';
    line-height: 34px;
  }
}

.learn-more {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

@media(max-width: 370px){
  .learn-more {
    margin-top: 20px;
  }
}

@media(min-width: 700px) {
  .learn-more {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
  }
}

.learn-more__text {
  font-family: 'GT-America-Standard-light';
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0.13px;
  line-height: 24px;
  margin-bottom: 10px;
}

@media(min-width: 1000px) {
  .learn-more__text {
    margin-bottom: 20px;
    font-family: 'GT-America-Standard-Thin';
    font-size: 16px;
  }
}

.learn-more__arrow {
  position: absolute;
  bottom: 0;
  animation: LearnMoreArrow 2s infinite;
}

@media(min-width: 1000px) {
  .learn-more__arrow{
    left: 40px;
  }
}

.our-story {
  padding: 25px 25px;
}

@media(min-width: 700px) {
  .our-story {
    margin: 0 auto;
    max-width: 1000px;
    padding: 100px 75px;

  }
}

.our-story__content {
  font-size: 16px
}

.music-feeling {
  padding: 75px 25px 200px 25px;
}

@media(min-width: 700px) {
  .music-feeling {
    margin: 0 auto;
    padding: 75px 25px 200px 25px;
    max-width: 815px;
    text-align: left;
  }
}

.music-feeling__title {
  margin: 0;
  font-family: 'GT-Super-Display';
  line-height: 62px;
  font-size: 62px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
}

@media(min-width: 700px) {
  .music-feeling__title {
    line-height: 78px;
    font-size: 78px;
  }
}

.dark-bg {
  background: #232228;
  background-image: url("images/chris-lines-530914-unsplash.jpg");

  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

}

@media(min-width: 700px) {
  .dark-bg {
    background-attachment: fixed;
    background-position: initial;
  }
}

.comming-soon {
  font-family: 'GT-America-Standard-Bold';
}

.connect {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px
}

@media(min-width: 700px) {
  .connect {
    flex-direction: row;
    justify-content: center;
  }
}

.connect__header {
  margin: 0;
  font-family: 'GT-Super-Display';
  line-height: 62px;
  font-size: 62px;
  color: #5A5A66;
  letter-spacing: 0.5px;
}

@media(min-width: 700) {
  .connect {
    width: 30%

  }
}
